# What this file does

I take data from the Houston Chronicle (via NJ.com https://www.nj.com/data/2018/07/these_nj_properties_flood_over_and_over_again_costing_taxpayers_like_you_millions.html) and calculate the number of repetitive loss properties by county, which I later map under the buyouts. I confirm that the NJ.com data is a cleaned version of the Houston Chrocinle data.

# Repetitive losses by county

In [20]:
import pandas as pd

In [21]:
!ls

Repetitive Loss Properties.ipynb
Severe Repetitive Loss Properities.xlsx
repetitive_flood_losses_nj_properties.csv

In [ ]:
#https://www.nj.com/data/2018/07/these_nj_properties_flood_over_and_over_again_costing_taxpayers_like_you_millions.html

In [22]:
df = pd.read_csv('repetitive_flood_losses_nj_properties.csv')

In [6]:
df.dtypes

SOURCE             int64
LOSS_ID            int64
STATENAME         object
COMMNAME          object
COMMNO             int64
PROPLOCATR         int64
LASTLOSS            bool
CITY              object
STATE             object
ZIPCODE            int64
ZipClean           int64
OCCUPANCY         object
POST_FIRM         object
ZONE              object
Floodplain          bool
PROP_VALUE         int64
BUILDING         float64
CONTENTS         float64
PROPLOSSES         int64
PAID             float64
AVERAGE          float64
AS_OF_DT          object
DTLOSS01          object
LossDateClean     object
BuildPay         float64
ContPay          float64
DamagePCT        float64
Valid_Value         bool
SubDam             int64
County Name       object
dtype: object

In [8]:
df

,SOURCE,LOSS_ID,STATENAME,COMMNAME,COMMNO,PROPLOCATR,LASTLOSS,CITY,STATE,ZIPCODE,...,AVERAGE,AS_OF_DT,DTLOSS01,LossDateClean,BuildPay,ContPay,DamagePCT,Valid_Value,SubDam,County Name
0,2018,110156,NEW JERSEY,"EGG HARBOR, TOWNSHIP OF",340007,71086,True,PLEASANTVILLE,NJ,82320000,...,68228.75,01/31/2018,09/19/2017,2017-09-19,68570.58,11052.72,0.087037,True,0,ATLANTIC COUNTY
1,2018,86025,NEW JERSEY,NEW JERSEY MEADOWLANDS COMMISSION,340570,46092,True,CARLSTADT,NJ,70720000,...,36333.52,01/31/2018,05/05/2017,2017-05-05,0.00,39054.94,0.000000,True,0,BERGEN COUNTY
2,2018,66034,NEW JERSEY,"KEARNY, TOWN OF",340224,29188,True,KEARNY,NJ,70324220,...,176560.98,01/31/2018,04/15/2007,2007-04-15,0.00,57478.51,0.000000,True,0,HUDSON COUNTY
3,2018,14463,NEW JERSEY,"HAWTHORNE, BOROUGH OF",340400,5117,True,HAWTHORNE,NJ,75063611,...,18459.01,01/31/2018,09/16/1999,1999-09-16,0.00,29425.00,0.000000,True,0,PASSAIC COUNTY
4,2018,11317,NEW JERSEY,"ABSECON, CITY OF",340001,3848,True,ABSECON,NJ,82010000,...,67065.40,01/31/2018,01/23/2016,2016-01-23,44270.81,54867.82,0.041552,True,0,ATLANTIC COUNTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,2018,172868,NEW JERSEY,"LUMBERTON, TOWNSHIP OF",340100,173740,True,LUMBERTON,NJ,80481202,...,85435.43,01/31/2018,04/26/2007,2007-04-26,20627.15,0.00,0.213311,True,0,BURLINGTON COUNTY
3377,2018,182986,NEW JERSEY,"MANVILLE, BOROUGH OF",340437,211293,True,MANVILLE,NJ,88350000,...,99773.70,01/31/2018,08/28/2011,2011-08-28,163337.42,0.00,0.849689,True,0,SOMERSET COUNTY
3378,2015,182984,NEW JERSEY,"DENVILLE, TOWNSHIP OF",345292,211255,True,DENVILLE,NJ,7834,...,79639.82,20151130,20110828,2011-08-28,127964.52,19700.00,1.007595,False,0,NaN
3379,2015,104808,NEW JERSEY,"OCEANPORT, BOROUGH OF",340320,65307,True,OCEANPORT,NJ,77571404,...,30105.05,20151130,19921211,1992-12-11,42400.00,15800.00,0.976959,True,0,NaN
3380,2018,188521,NEW JERSEY,"RUMSON, BOROUGH OF",345316,257427,True,RUMSON,NJ,77600000,...,103046.92,01/31/2018,10/29/2012,2012-10-29,148987.79,10000.00,0.827770,True,0,MONMOUTH COUNTY

In [14]:
df[df['COMMNAME']=='LITTLE EGG HARBOR, TOWNSHIP OF']

,SOURCE,LOSS_ID,STATENAME,COMMNAME,COMMNO,PROPLOCATR,LASTLOSS,CITY,STATE,ZIPCODE,...,AVERAGE,AS_OF_DT,DTLOSS01,LossDateClean,BuildPay,ContPay,DamagePCT,Valid_Value,SubDam,County Name
85,2018,128592,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,92865,True,LITTLE EGG HARBOR TWP,NJ,8087,...,15651.37,01/31/2018,10/29/2012,2012-10-29,62896.03,7147.06,0.493001,True,0,OCEAN COUNTY
211,2015,9315,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,3094,True,LITTLE EGG HARBOR,NJ,80871623,...,17193.62,20151130,20121029,2012-10-29,72767.46,19854.51,0.538898,True,0,NaN
362,2015,40647,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,13640,True,TUCKERTON,NJ,80870000,...,15875.23,20151130,20091113,2009-11-13,25220.80,5994.34,0.082378,True,0,NaN
614,2018,22933,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,7962,True,MYSTIC ISLAND,NJ,8087,...,9816.45,01/31/2018,01/28/1998,1998-01-28,9632.65,0.00,0.103023,True,0,OCEAN COUNTY
830,2015,86352,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,46404,True,LITTLE EGG HARBOR,NJ,8087,...,16634.42,20151130,20121029,2012-10-29,67096.07,0.00,0.482338,True,0,NaN
969,2018,11874,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,4083,True,LITTLE EGG HARBOR,NJ,80871621,...,18853.99,01/31/2018,10/29/2012,2012-10-29,66768.33,7594.34,0.459047,True,0,OCEAN COUNTY
1262,2018,178222,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,188184,True,LITTLE EGG HARBOR TWP,NJ,80871632,...,25047.10,01/31/2018,10/29/2012,2012-10-29,69603.58,0.00,0.637232,True,0,OCEAN COUNTY
1303,2018,11824,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,4065,True,LITTLE EGG HARBOR,NJ,80871698,...,13302.03,01/31/2018,10/30/2012,2012-10-30,14301.59,0.00,0.117709,True,0,OCEAN COUNTY
1345,2015,151719,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,122575,True,MYSTIC ISLAND,NJ,80870000,...,24943.46,20151130,20121029,2012-10-29,46278.72,8200.00,0.346299,True,0,NaN
1570,2018,173738,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,175231,True,LITTLE EGG HARBOR TWP,NJ,80871623,...,33279.94,01/31/2018,10/29/2012,2012-10-29,97174.91,10000.00,0.631785,True,0,OCEAN COUNTY
1621,2018,2919,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,1006,True,LITTLE EGG HARBOR TWP,NJ,80870000,...,15606.99,01/31/2018,11/05/2012,2012-11-05,42051.07,0.00,0.266345,True,0,OCEAN COUNTY
2044,2015,14671,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,5212,True,LITTLE EGG HARBOR TWP,NJ,8087,...,32980.45,20151130,20121029,2012-10-29,106697.19,10000.00,0.675384,True,0,NaN
2886,2018,142333,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,111080,True,LITTLE EGG HARBOR TWP,NJ,80871629,...,17254.19,01/31/2018,08/13/2014,2014-08-13,7825.69,0.00,0.031790,True,0,OCEAN COUNTY
3021,2018,14874,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,5288,True,LITTLE EGG HARBOR,NJ,80871623,...,24299.76,01/31/2018,11/01/2012,2012-11-01,9763.13,0.00,0.069990,True,0,OCEAN COUNTY
3110,2015,2987,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,1036,True,LITTLE EGG HARBOR TWP,NJ,80871623,...,23712.58,20151130,20121030,2012-10-30,48582.87,12755.50,0.791639,True,0,NaN
3133,2018,3155,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,1090,True,LITTLE EGG HARBOR TWP,NJ,80871619,...,31697.63,01/31/2018,10/29/2012,2012-10-29,41254.13,10245.50,0.323078,True,0,OCEAN COUNTY
3175,2015,180697,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,195658,True,LITTLE EGG HARBOR TWP,NJ,80871632,...,43000.06,20151130,20121029,2012-10-29,86875.93,3004.03,0.744330,True,0,NaN
3191,2018,105046,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,65572,True,LITTLE EGG HARBOR TWP,NJ,80871615,...,37293.01,01/31/2018,10/29/2012,2012-10-29,56815.79,21000.00,0.790096,True,0,OCEAN COUNTY
3218,2015,124697,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,88523,True,LITTLE EGG HARBOR,NJ,80870000,...,75141.67,20151130,20121030,2012-10-30,124147.53,27948.57,0.692741,True,0,NaN
3219,2018,124700,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,88529,True,LITTLE EGG HARBOR TWP,NJ,8087,...,46595.95,01/31/2018,10/29/2012,2012-10-29,56645.91,10000.00,0.507571,True,0,OCEAN COUNTY
3245,2018,130396,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,95401,True,LITTLE EGG HARBOR TWP,NJ,80870000,...,49097.71,01/31/2018,10/29/2012,2012-10-29,107422.36,6500.00,0.783459,True,0,OCEAN COUNTY
3260,2018,184348,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,229548,True,LITTLE EGG HARB,NJ,8087,...,90486.38,01/31/2018,10/29/2012,2012-10-29,100879.65,38300.00,0.820600,True,0,OCEAN COUNTY
3295,2018,184564,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,234459,True,LITTLE EGG HARB,NJ,80871520,...,86289.96,01/31/2018,10/30/2012,2012-10-30,106727.08,52500.00,0.990718,True,0,OCEAN COUNTY
3315,2018,184135,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,222042,True,LITTLE EGG HARBOR TWP,NJ,80872312,...,45768.42,01/31/2018,10/29/2012,2012-10-29,53200.00,5900.00,0.845787,True,0,OCEAN COUNTY
3336,2018,127778,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,91914,True,MYSTIC ISLAND,NJ,8087,...,15562.47,01/31/2018,02/05/1998,1998-02-05,3151.80,475.36,0.710825,True,0,OCEAN COUNTY
3352,2018,184127,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,221827,True,LITTLE EGG HBR,NJ,80871014,...,152258.36,01/31/2018,10/29/2012,2012-10-29,186866.06,67600.00,0.818741,True,0,OCEAN COUNTY

In [13]:
df[df['CITY']=='MYSTIC ISLAND']

,SOURCE,LOSS_ID,STATENAME,COMMNAME,COMMNO,PROPLOCATR,LASTLOSS,CITY,STATE,ZIPCODE,...,AVERAGE,AS_OF_DT,DTLOSS01,LossDateClean,BuildPay,ContPay,DamagePCT,Valid_Value,SubDam,County Name
614,2018,22933,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,7962,True,MYSTIC ISLAND,NJ,8087,...,9816.45,01/31/2018,01/28/1998,1998-01-28,9632.65,0.00,0.103023,True,0,OCEAN COUNTY
1345,2015,151719,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,122575,True,MYSTIC ISLAND,NJ,80870000,...,24943.46,20151130,20121029,2012-10-29,46278.72,8200.00,0.346299,True,0,NaN
3336,2018,127778,NEW JERSEY,"LITTLE EGG HARBOR, TOWNSHIP OF",340380,91914,True,MYSTIC ISLAND,NJ,8087,...,15562.47,01/31/2018,02/05/1998,1998-02-05,3151.80,475.36,0.710825,True,0,OCEAN COUNTY

In [13]:
df['COMMNAME'].value_counts(dropna=False, normalize=True)

WAYNE, TOWNSHIP OF           0.126886
LINCOLN PARK, BOROUGH OF     0.052351
POMPTON LAKES, BORO OF       0.049985
LITTLE FALLS, TOWNSHIP OF    0.040225
PEQUANNOCK, TOWNSHIP OF      0.037563
                               ...
GARWOOD, BOROUGH OF          0.000296
PORT REPUBLIC, CITY OF       0.000296
MORRISTOWN, TOWN OF          0.000296
WYCKOFF, TOWNSHIP OF         0.000296
MORRIS, TOWNSHIP OF          0.000296
Name: COMMNAME, Length: 231, dtype: float64

In [32]:
df['CITY'].value_counts(dropna=False, normalize=True).head(50)

WAYNE              0.127181
LINCOLN PARK       0.052647
POMPTON LAKES      0.049985
WILDWOOD           0.047028
LITTLE FALLS       0.039929
FAIRFIELD          0.028986
BOUND BROOK        0.028394
PEQUANNOCK         0.026619
MANVILLE           0.025732
OCEAN CITY         0.022774
WEST WILDWOOD      0.019225
SEA ISLE CITY      0.016859
PHILLIPSBURG       0.014789
ATLANTIC CITY      0.014493
NEW MILFORD        0.013605
SEA BRIGHT         0.013014
NORTH WILDWOOD     0.012718
PATERSON           0.012718
STONE HARBOR       0.011831
MIDDLESEX          0.010944
AVALON             0.010648
POMPTON PLAINS     0.010648
LAVALLETTE         0.010056
DENVILLE           0.010056
WESTWOOD           0.010056
MONMOUTH BEACH     0.009465
CRANFORD           0.009465
OAKLAND            0.007394
LODI               0.006803
VENTNOR            0.006507
PLEASANTVILLE      0.006507
TRENTON            0.006211
BEACH HAVEN        0.006211
SPRING LAKE        0.006211
LAMBERTVILLE       0.005620
UNION BEACH        0.005620
CAPE MAY           0.005324
MANASQUAN          0.005324
BRIGANTINE         0.005324
SEASIDE HEIGHTS    0.005324
VENTNOR CITY       0.005028
RUMSON             0.005028
FORKED RIVER       0.005028
JERSEY CITY        0.005028
HIGHLANDS          0.004732
MANAHAWKIN         0.004437
RAHWAY             0.004437
DOVER              0.004437
HILLSDALE          0.004141
STOCKTON           0.004141
Name: CITY, dtype: float64

In [34]:
df2 = df.groupby(by="CITY")['PAID'].sum().reset_index()
df2.sort_values(by='PAID',ascending=False ).head(50)

               CITY         PAID
286           WAYNE  84150939.52
114    LINCOLN PARK  37946284.12
208   POMPTON LAKES  36209064.66
23      BOUND BROOK  22839548.24
73        FAIRFIELD  20862074.37
120    LITTLE FALLS  20723028.67
297        WILDWOOD  19977188.61
194        PATERSON  18440060.75
140        MANVILLE  16617298.16
233      SEA BRIGHT  15569961.00
197      PEQUANNOCK  15051077.35
155  MONMOUTH BEACH  13390769.51
183      OCEAN CITY  12809224.98
210  POMPTON PLAINS  11440976.51
199    PHILLIPSBURG  10743425.53
236   SEA ISLE CITY  10296619.35
203   PLEASANTVILLE   9367347.26
168     NEW MILFORD   8909847.10
102          KEARNY   8185601.78
268         TRENTON   7852264.32
124            LODI   7805196.27
291   WEST WILDWOOD   7755529.47
258    STONE HARBOR   6908544.86
5            AVALON   6807327.54
294        WESTWOOD   6666631.37
177  NORTH WILDWOOD   6282380.17
225         ROSELLE   6006149.36
3     ATLANTIC CITY   5866443.71
52         CRANFORD   5860823.06
226          RUMSON   5632495.11
158       MOONACHIE   5626080.84
10      BEACH HAVEN   5484374.88
110      LAVALLETTE   4853274.29
56         DENVILLE   4775235.63
57            DOVER   4649262.12
150       MIDDLESEX   4618141.13
193         PASSAIC   4363337.92
35         CAPE MAY   4246278.33
271     UNION BEACH   4201841.38
95     HILLSBOROUGH   4185085.96
251     SPRING LAKE   3891851.65
180         OAKLAND   3636318.39
154    MONMOUTH BCH   3619196.36
39        CARLSTADT   3614217.60
257        STOCKTON   3479354.23
170          NEWARK   3419554.97
103         KEYPORT   3278974.92
245      SOMERVILLE   3161059.95
138       MANASQUAN   2977469.85
215          RAHWAY   2966620.91

In [8]:
#Nationwide data from Houston Chronicle https://github.com/Houston-Chronicle/flood-games

In [10]:
!ls

Repetitive Loss Properties.ipynb
Severe Repetitive Loss Properities.xlsx
repetitive_flood_losses_nj_properties.csv

In [ ]:
#accoridng to the data dictionary, each entry is a loss, so to see the number of properties we want to count the number of unique property identifiers

In [11]:
df_us = pd.read_excel('Severe Repetitive Loss Properities.xlsx')

In [13]:
df_us.dtypes

SOURCE                    int64
LOSS_ID                   int64
STATENAME                object
COMMNAME                 object
COMMNO                    int64
PROPLOCATR                int64
LASTLOSS                   bool
CITY                     object
STATE                    object
ZIPCODE                  object
ZipClean                 object
OCCUPANCY                object
POST_FIRM                object
ZONE                     object
Floodplain                 bool
PROP_VALUE                int64
BUILDING                float64
CONTENTS                float64
PROPLOSSES                int64
PAID                    float64
AVERAGE                 float64
AS_OF_DT                 object
DTLOSS01                 object
LossDateClean    datetime64[ns]
BuildPay                float64
ContPay                 float64
DamagePCT               float64
Valid_Value                bool
SubDam                    int64
County Name              object
dtype: object

In [ ]:
#checking null values

In [17]:
df_us[df_us['PAID'].isna()]

Empty DataFrame
Columns: [SOURCE, LOSS_ID, STATENAME, COMMNAME, COMMNO, PROPLOCATR, LASTLOSS, CITY, STATE, ZIPCODE, ZipClean, OCCUPANCY, POST_FIRM, ZONE, Floodplain, PROP_VALUE, BUILDING, CONTENTS, PROPLOSSES, PAID, AVERAGE, AS_OF_DT, DTLOSS01, LossDateClean, BuildPay, ContPay, DamagePCT, Valid_Value, SubDam, County Name]
Index: []

[0 rows x 30 columns]

In [ ]:
#just to get a sense of the scale

In [19]:
df_us['PAID'].sum()

41911440131.759995

In [ ]:
# same as Nj,com dataframe so the cleaned it ok

In [58]:
len(df_us[df_us['STATE']=='NJ']['PROPLOCATR'].unique())

3380

In [27]:
df['County Name'].value_counts().to_csv('county_counts.csv')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [29]:
!ls

Repetitive Loss Properties.ipynb
Severe Repetitive Loss Properities.xlsx
county_counts.csv
repetitive_flood_losses_nj_properties.csv

In [47]:
df_county = pd.read_csv('county_counts.csv')

In [48]:
df_county

        county  count
0      PASSAIC    604
1     CAPE MAY    436
2       MORRIS    280
3       BERGEN    230
4     SOMERSET    192
5        OCEAN    178
6     MONMOUTH    163
7     ATLANTIC    129
8        ESSEX    112
9    MIDDLESEX     88
10       UNION     63
11      WARREN     62
12   HUNTERDON     41
13      HUDSON     38
14      MERCER     26
15  BURLINGTON     24
16      CAMDEN     10
17       SALEM     10
18  CUMBERLAND      7

In [45]:
def return_length(x):
    return len(x)

In [ ]:
#confirming no repeat losses for each property listing so I'm counting properties and no the number of losses!

In [53]:
df.groupby('County Name')['PROPLOCATR'].unique().apply(lambda x:return_length(x))

County Name
ATLANTIC COUNTY      129
BERGEN COUNTY        230
BURLINGTON COUNTY     24
CAMDEN COUNTY         10
CAPE MAY COUNTY      436
CUMBERLAND COUNTY      7
ESSEX COUNTY         112
HUDSON COUNTY         38
HUNTERDON COUNTY      41
MERCER COUNTY         26
MIDDLESEX COUNTY      88
MONMOUTH COUNTY      163
MORRIS COUNTY        280
OCEAN COUNTY         178
PASSAIC COUNTY       604
SALEM COUNTY          10
SOMERSET COUNTY      192
UNION COUNTY          63
WARREN COUNTY         62
Name: PROPLOCATR, dtype: int64